<div class="appLayout">
  <header class="appLayout-header">
    Cyclops
  </header>

  <div class="appLayout-content"></div>

  <footer class="appLayout-footer">
    <a href="https://github.com/leafygreen/cyclops" target="_blank">https://github.com/leafygreen/cyclops</a>
  </footer>
 </div>
